{% extends 'main/layout.html' %}
{% load static %}
{% block extra_css %}
    <link href="{% static 'school/css/ear_training_tests.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}Слуховые контрольные{% endblock %}
{% block content %}

<h2 class="ear-training-header">Слуховые контрольные</h2>
{% if sections %}
    {% for section, tests in sections.items %}
        <div class="section-block">
            <div class="section-title">{{ section }}</div>
            <ul class="ear-training-list">
            {% for test in tests %}
                <li>
                    <span>
                        <span class="test-title">{{ test.title }}</span>
                        <span class="test-lesson">(Заключительный урок: {{ test.lesson.topic }})</span>
                    </span>
                    <span class="ear-training-actions">
                        <a href="{% url 'school:ear_training_test_detail' test.id %}">Пройти</a>
                        <a href="{% url 'school:ear_training_test_result' test.id %}">Результат</a>
                    </span>
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% else %}
    <div class="no-ear-training-tests">
        Для данных вашего профиля нет доступных слуховых контрольных.
    </div>
{% endif %}
{% endblock %}